@import url("../resources/__logo-zone/resources__logo-zone.css");
@import url("../resources/__logo/resources__logo.css");
@import url("../resources/__logo-link/resources__logo-link.css");
.resources {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
}