@import url("../video/__iframes/video__iframes.css");
@import url("../video/__iframe/video__iframe.css");
.video {
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}