@import url("../two-colums/__brief/two-columns__brief.css");
@import url("../two-colums/__main-text/two-columns__main-text.css");
@import url("../two-colums/__paragraph/two-columns__paragraph.css");
@import url("../two-colums/__span-accent/two-columns__span-accent.css");
.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
  margin: auto;
}
