.table__heading {
  margin: auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}
.table__heading_theme_dark {
  margin: auto;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

